{
	"editorconfig": true,
	"arrowParens": "always",
	"bracketSameLine": false,
	"semi": true,
	"trailingComma": "all",
	"singleQuote": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"endOfLine": "lf",
	"useTabs": true,
	"tabWidth": 2,

	"plugins": ["prettier-plugin-svelte", "@ianvs/prettier-plugin-sort-imports"],
	"pluginSearchDirs": ["."],

	"importOrder": [
		"<BUILTIN_MODULES>",
		"",
		"^(react|parse|parse/(?:.*)|parse-server|parse-server/(?:.*))$",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@devist/(.*)$",
		"",
		"^@shared|@ui-react|@front|@server|@office/(.*)$",
		"",
		"^../",
		"",
		"^./"
	],
	"importOrderSeparation": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.0.0",

	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
